*
{
    padding: 0;
    margin: 0;
}
.arkaplan
{
    background-image: url(uzay.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.logo
{
    width: 120px;
    height: 80px;
    margin: 3px 20px;
}
.üst
{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menü ul li
{
    display: inline-block;
    list-style: none;
    padding-right: 10px;
    margin: 0 20px;
}
.menü ul li a
{
    text-decoration: none;
    margin-right: 15px;
    color: white;
    font-size: 21px;
}
.menü ul li a:hover
{
    color: blueviolet;
}
.içerik
{
    font-family:cursive;
    font-size: 47px;
    position: absolute;
    color:aqua;
    top: 40%;
    left: 33%;
    text-align: center;
}