*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.background
{
    background-image: url(uzay.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.logo
{
    width: 9rem;
    height: auto;
    margin: 3px 20px;
}

.top
{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
}

.menu ul li
{
    display: inline-block;
    list-style: none;
    padding-right: 10px;
    margin: 0 10px;
}

.menu ul li a
{
    text-decoration: none;
    margin-right: 15px;
    color: white;
    font-size: 1.3rem;
}

.menu ul li a:hover
{
    color: blueviolet;
}

.content h1
{
    text-align: center;
    margin: 240px 0;
    font-size: 5rem;
    color:aqua;
}

#aboutme
{
    text-align: center;
}

.atitle
{
    font-size: 2.1rem;
    font-weight: bold;
    padding-top: 95px;
}

.container
{
    margin-left: 200px;
    display: flex;
    align-items: center;
}

.i
{
    width: 15rem;
    height: auto;
    margin-top: 40px;
    float: left;
}

.article
{
    float: left;
    margin-top: 40px;
    text-align: center;
    font-size: 1.3rem;
    margin-left: 45px;
    text-align: left;
    width: 805px;
    line-height: 1.3;
}

.article button
{
    background-color: aqua;
    cursor: pointer;
    padding: 2px 2px;
    font-size: 1rem;
    border-radius: 0.5em;
}

.cv a
{
    color: black;
}

.atitle
{
    font-size: 2.1rem;
    font-weight: bold;
    padding-top: 65px;
}

#communication
{
    padding: 50px;
    text-align: center;
    margin-bottom: 230px;
}

.ctitle
{
    font-size: 2.1rem;
    font-weight: bold;
    padding-top: 55px;
    padding-bottom: 75px ;
}

.communication form
{
    float: left;
    text-align: left;
    padding-left: 200px;
}

textarea
{
    font-family: Arial, Helvetica, sans-serif;
}

.communication .input
{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin: 3px;
    border: 1px solid black;
    border-radius: 5px;
}

input[type="submit"]
{
    cursor: pointer;
    background-color: aqua;
    font-size: 17px;
    padding: 3px 3px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

input[type="reset"]
{
    cursor: pointer;
    background-color: aqua;
    font-size: 17px;
    padding: 3px 3px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
}
.informations
{
    margin-top: 70px;
}

.informations p
{
    font-size: 20px;
}

footer
{
    height: 230px;
    background-color: black;
}

#socialmedia .icons a img
{
    width: 30px;
    height: 30px;
    margin-top: 80px;
    margin-right: 10px;
}

.icons .gh
{
    margin-left: 680px;
    margin-top: 50px;
}

.copyright
{
    color: white;
    text-align: center;
    margin-top: 90px;
}